
RewriteEngine on

### Add trailing slash

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.[a-z0-9]{2,4}$
RewriteCond %{REQUEST_URI} !/$
RewriteRule (.*) /$1/ [R=301,L]


### Main Pages

RewriteRule ^videos/$ /cc-core/controllers/videos.php [NC,L]
RewriteRule ^videos/page/([0-9]+)/$ /cc-core/controllers/videos.php?page=$1 [NC,L]
RewriteRule ^videos/(recent|most-viewed|most-discussed)/$ /cc-core/controllers/videos.php?load=$1 [NC,L]
RewriteRule ^videos/(recent|most-viewed|most-discussed)/page/([0-9]+)/$ /cc-core/controllers/videos.php?load=$1&page=$2 [NC,L]
RewriteRule ^videos/([a-z-]+)/$ /cc-core/controllers/videos.php?category=$1 [NC,L]
RewriteRule ^videos/([a-z-]+)/page/([0-9]+)/$ /cc-core/controllers/videos.php?category=$1&page=$2 [NC,L]
RewriteRule ^videos/([0-9]+)/comments/$ /cc-core/controllers/comments.php?vid=$1 [NC,L]
RewriteRule ^videos/([0-9]+)/(.*)$ /cc-core/controllers/play.php?vid=$1 [NC,QSA,L]
RewriteRule ^members/$ /cc-core/controllers/members.php [NC,L]
RewriteRule ^members/page/([0-9]+)/$ /cc-core/controllers/members.php?page=$1 [NC,L]
RewriteRule ^members/([a-z0-9]+)/$ /cc-core/controllers/profile.php?username=$1 [NC,QSA,L]
RewriteRule ^members/([a-z0-9]+)/videos/$ /cc-core/controllers/member_videos.php?username=$1 [NC,L]
RewriteRule ^members/([a-z0-9]+)/videos/page/([0-9]+)/$ /cc-core/controllers/member_videos.php?username=$1&page=$2 [NC,L]
RewriteRule ^search(/page/([0-9]+))?/$ /cc-core/controllers/search.php?page=$2 [NC,QSA,L]
RewriteRule ^login/$ /cc-core/controllers/login.php [NC,L]
RewriteRule ^login/forgot/$ /cc-core/controllers/login.php?action=forgot [NC,L]
RewriteRule ^logout/$ /cc-core/system/logout.php [NC,L]
RewriteRule ^register/$ /cc-core/controllers/register.php [NC,L]
RewriteRule ^activate/$ /cc-core/controllers/activate.php [NC,QSA,L]
RewriteRule ^opt-out/$ /cc-core/controllers/opt_out.php [NC,QSA,L]
RewriteRule ^contact/$ /cc-core/controllers/contact.php [NC,L]




### System Pages
RewriteRule ^notify/$ /cc-core/system/notify.php [NC,L]
RewriteRule ^language/get/$ /cc-core/system/language.php [NC,L]
RewriteRule ^feed(/([a-z0-9]+))?/$ /cc-core/system/feed.php?username=$2 [NC,L]
RewriteRule ^myaccount/upload/validate/$ /cc-core/system/myaccount/upload.ajax.php [NC,L]
RewriteRule ^myaccount/grab/validate/$ /cc-core/system/grab.ajax.php [NC,L]
RewriteRule ^actions/username/$ /cc-core/system/username.ajax.php [NC,L]
RewriteRule ^actions/flag/$ /cc-core/system/flag.ajax.php [NC,L]
RewriteRule ^actions/favorite/$ /cc-core/system/favorite.ajax.php [NC,L]
RewriteRule ^actions/subscribe/$ /cc-core/system/subscribe.ajax.php [NC,L]
RewriteRule ^actions/rate/$ /cc-core/system/rate.ajax.php [NC,L]
RewriteRule ^actions/comment/$ /cc-core/system/comment.ajax.php [NC,L]
RewriteRule ^actions/post/$ /cc-core/system/post.ajax.php [NC,L]



### My Account Pages

RewriteRule ^myaccount/$ /cc-core/controllers/myaccount/myaccount.php [NC,L]
RewriteRule ^myaccount/upload/$ /cc-core/controllers/myaccount/upload.php [NC,L]
RewriteRule ^myaccount/upload-video/$ /cc-core/controllers/myaccount/upload_video.php [NC,L]
RewriteRule ^myaccount/upload-complete/$ /cc-core/controllers/myaccount/upload_complete.php [NC,L]
RewriteRule ^myaccount/myvideos(/page/([0-9]+))?/$ /cc-core/controllers/myaccount/myvideos.php?page=$2 [NC,L]
RewriteRule ^myaccount/myvideos/([0-9]+)/$ /cc-core/controllers/myaccount/myvideos.php?vid=$1 [NC,L]
RewriteRule ^myaccount/editvideo/([0-9]+)/$ /cc-core/controllers/myaccount/edit_video.php?vid=$1 [NC,L]
RewriteRule ^myaccount/myfavorites(/page/([0-9]+))?/$ /cc-core/controllers/myaccount/myfavorites.php?page=$2 [NC,L]
RewriteRule ^myaccount/myfavorites/([0-9]+)/$ /cc-core/controllers/myaccount/myfavorites.php?vid=$1 [NC,L]
RewriteRule ^myaccount/profile/$ /cc-core/controllers/myaccount/update_profile.php [NC,L]
RewriteRule ^myaccount/profile/reset/$ /cc-core/controllers/myaccount/update_profile.php?action=reset [NC,L]
RewriteRule ^myaccount/privacy-settings/?$ /cc-core/controllers/myaccount/privacy_settings.php [NC,L]
RewriteRule ^myaccount/change-password/?$ /cc-core/controllers/myaccount/change_password.php [NC,L]
RewriteRule ^myaccount/subscriptions(/([0-9]+))?/$ /cc-core/controllers/myaccount/subscriptions.php?id=$2 [NC,L]
RewriteRule ^myaccount/subscriptions(/page/([0-9]+))?/$ /cc-core/controllers/myaccount/subscriptions.php?page=$2 [NC,L]
RewriteRule ^myaccount/subscribers(/page/([0-9]+))?/$ /cc-core/controllers/myaccount/subscribers.php?page=$2 [NC,L]
RewriteRule ^myaccount/message/inbox(/page/([0-9]+))?/$ /cc-core/controllers/myaccount/message_inbox.php?page=$2 [NC,L]
RewriteRule ^myaccount/message/inbox/([0-9]+)/$ /cc-core/controllers/myaccount/message_inbox.php?delete=$1 [NC,L]
RewriteRule ^myaccount/message/read/([0-9]+)/$ /cc-core/controllers/myaccount/message_read.php?msg=$1 [NC,L]
RewriteRule ^myaccount/message/send/$ /cc-core/controllers/myaccount/message_send.php [NC,L]
RewriteRule ^myaccount/message/send/([a-z0-9]+)/$ /cc-core/controllers/myaccount/message_send.php?username=$1 [NC,L]
RewriteRule ^myaccount/message/reply/([0-9]+)/$ /cc-core/controllers/myaccount/message_send.php?msg=$1 [NC,L]


### Player

RewriteRule ^p/$ /cc-content/player/flowplayer-3.2.5.swf [NC,L]
RewriteRule ^p/c/([a-z0-9]+)/$ /cc-content/player/flowplayer.config.php?video=$1 [NC,L]


### Sitemaps & Feeds

RewriteRule ^mrss/$ /cc-core/controllers/mrss.php [NC,L]
RewriteRule ^sitemap-(index|main|members|videos)(-([0-9]+))?\.xml$ /cc-core/system/sitemap.php?type=$1&page=$3 [NC,L]
RewriteRule ^video-sitemap(-([0-9]+))?\.xml$ /cc-core/system/video_sitemap.php?page=$2 [NC,L]


### Management & Security

Options -Indexes
DirectoryIndex cc-core/controllers/index.php
ErrorDocument 404 /cc-core/controllers/system_404.php
#ErrorDocument 403 /cc-core/controllers/system_404.php
RewriteRule ^system-error/$ /cc-core/controllers/system_error.php [NC,L]




### Catch-All for pages

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /cc-core/system/page.php [L]














#RewriteRule index.php - [F,L]
#<FilesMatch "index.php">
#    order deny,allow
#    deny from all
#</FilesMatch>





# Prevent known script types from executing
#AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
#Options -ExecCGI


# Prevent access to any file type other than allowed image types
#SetEnvIf Request_URI "\.gif$" image=gif
#SetEnvIf Request_URI "\.jpe?g$" image=jpg
#SetEnvIf Request_URI "\.png$" image=png

#order deny,allow
#deny from all
#allow from env=image
