.object_ok {
	border: 1px solid #006600; 
	color: #333333;
}

.object_error {
	/*border: 1px solid #FF0000; */
}

#status {
	display:inline;
}

.available {
	font-weight:bold;
	color:#060;
}

#icon {
	vertical-align:text-bottom;
}