
/**************
BODY STRUCTURES
**************/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color:#ebebeb;
    color: #555;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.container:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

main {
    padding: 15px;
    width: 755px;
    display: block;
    background-color: #FFF;
    margin: -15px 0 15px 25px;
    -moz-box-shadow: 0px 0px 4px 4px rgba(1,1,1,.1);
    -webkit-box-shadow: 0px 0px 4px 4px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 0px 4px 4px rgba(1, 1, 1, 0.1);
    float: left;
}





/*****
HEADER
*****/

header {
    height: 60px;
    background-color: #003;
    position: relative;
    z-index: 2;
}

#header {
    width: 980px;
    margin: 0 auto;
}

header img {
    margin-top: 14px;
}

header .menu {
    float: right;
    text-align: right;
    color: #FFF;
    line-height: 60px;
}

header .menu a {
    color: #FFF;
}





/*****
FOOTER
*****/

footer {
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer {
    width: 901px;
    padding-left: 79px;
    background: url("../images/footer-logo.png") no-repeat left center;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    text-align: right;
    box-sizing: content-box;
    color: #FFF;
}

#footer a {
    color: #FFF;
}





/******
SIDEBAR
******/

#sidebar {
    width: 170px;
    float: left;
}

#sidebar .menu {
    padding-right: 10px;
    margin: 15px 0;
}

#sidebar .menu > a {
    color: #333;
    background: url("../images/icon-arrow-open.png") no-repeat center right;
    font-weight: normal;
    display: block;
}

#sidebar .menu > .collapsed {
    background: url("../images/icon-arrow-closed.png") no-repeat center right;
}

#sidebar .menu > a:hover {
    text-decoration: none;
}

#sidebar .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sidebar .menu li {
    margin: 15px 0;
}

#sidebar .menu li:last-child {
    margin-bottom: 0;
}

#sidebar .menu li a {
    font-weight: 500;
}

#sidebar .menu .icon-dashboard span {
    background: url("../images/icon-dashboard.png") no-repeat 0 0;
    padding-left: 25px;
}

#sidebar .menu .icon-video span {
    background: url("../images/icon-video.png") no-repeat 0 0;
    padding-left: 25px;
}

#sidebar .menu .icon-members span {
    background: url("../images/icon-members.png") no-repeat 0 0;
    padding: 1px 0 1px 25px;
}

#sidebar .menu .icon-comment span {
    background: url("../images/icon-comment.png") no-repeat 0 0;
    padding-left: 25px;
    padding: 0 0 1px 25px;
}

#sidebar .menu .icon-flag span {
    background: url("../images/icon-flag.png") no-repeat 0 0;
    padding: 1px 0 1px 25px;
}

#sidebar .menu .icon-pages span {
    background: url("../images/icon-pages.png") no-repeat 0 0;
    padding: 1px 0 1px 25px;
}

#sidebar .menu .icon-appearance span {
    background: url("../images/icon-appearance.png") no-repeat 0 0;
    padding: 1px 0 1px 25px;
}

#sidebar .menu .icon-plugin span {
    background: url("../images/icon-plugin.png") no-repeat 0 0;
    padding: 1px 0 1px 25px;
}

#sidebar .menu .icon-settings span {
    background: url("../images/icon-settings.png") no-repeat 0 0;
    padding: 1px 0 1px 25px;
}





/******
FILTERS
******/

.filters {
    margin: 15px 0;
}

.filters:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.jump {
    float: left;
}

.jump .dropdown {
    display: inline-block;
}

.search {
    float: right;
}

.search .text {
    width: 175px;
}





/***
GRID
***/

.table {
    margin: 0;
}

.record-actions a {
    display:inline-block;
    margin-right:15px;
    font-size:10px;
}

.delete, .delete:hover {
    color: #900;
}





/****
FONTS
****/

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 15px 0;
}





/**********
LINK STYLES
**********/

a {
    color:#023e7b;
    text-decoration:none;
    font-weight: 500;
}

a:hover {
    color:#023e7b;
    text-decoration:underline;
    font-weight: 500;
}

a.button {
    padding:0 10px;
    display:inline-block;
}

.more-info {
    margin-left:5px;
    cursor:pointer;
}

.mask-link { margin-left:5px; }





/********************
FORM & MESSAGE STYLES
********************/

.row {
    overflow:hidden;
    margin-bottom:15px;
}

.row-shift {
    margin-left:115px;
    margin-bottom:15px;
}

.row > label {
    float:left;
    text-align:right;
    margin-right:15px;
    width:100px;
    font-weight:bold;
}

.text {
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    padding:5px;
    width:300px;
}

textarea.text {
    width:auto;
    height:auto;
}

.button {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background: url("../images/button-background.png") repeat-x right center;
    border:none;
    color: #FFF;
    padding: 0 10px 3px;
    *padding:0;
    height:28px;
    font:bold 14px/28px arial,helvetica,sans-serif;
    cursor:pointer;
}





/**********
MISC STYLES
**********/

.clear {
    clear:both;
}

#pagination {
    margin-top:15px;
    text-align:right;
}

#pagination li {
    display:inline;
    padding-left:10px;
    font-size:14px;
}

.message {
    display: none;
    font-weight:bold;
    padding:15px;
    margin-top:15px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border: solid 3px;
}

.success {
    display: block;
    border-color: #C6D880;
    background-color: #E6EFC2;
    color: #264409;
}

.errors {
    display: block;
    border-color: #FBC2C4;
    background-color: #FBE3E4;
    color: #8a1f11;
}

.notice {
    display: block;
    background-color: #FFF6BF;
    border-color: #FFD324;
    color: #514721;
}

.options {
    display:inline;
}

.hide {
    display:none;
}

.tipsy {
    font-size: 12px;
}

.loading {
    background:url('../images/loading.gif') no-repeat 0 0;
    padding:2px 0 0 20px;
    height:16px;
}





/********************
RECORD LISTING STYLES
********************/

#browse-header {
    margin-top:15px;
    overflow:hidden;
}

#browse-header .search {
    float:right;
}

#browse-header .jump {
    float:left;
}

#browse-header .add {
    float:left;
    margin-left:15px;
}

#browse-header select,
#browse-header input[type="text"] {
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    padding:5px;
}
#browse-header select {
    padding-right:10px;
}

.list {
    padding:0;
}

.list table {
    width:100%;
}

.list td {
    padding:20px 10px;
    vertical-align:top;
    width:30%;
}

.list .odd td {
    background-color:#ebebeb;
}

.record-actions {
    visibility: hidden;
    margin-top:7px;
}

.table tr:hover .record-actions {
    visibility: visible;
}





/***************
DASHBOARD STYLES
***************/

#dashboard .block h2 {
    margin:0 0 10px;
}

#dashboard .block {
    min-width:300px;
    margin-right:15px;
    width:44%;
    float:left;
}





/***********
VIDEO STYLES
***********/

#videos .list td {
    width:20%;
}

#videos .list .video-title {
    width:40%;
}

#videos video {
    display: none;
}

#videos-edit form {
    margin-top:15px;
}

.move-videos-button,
.delete-category-button {
    display:none;
}

#videos-categories .dropdown {
    margin:0 5px;
}

#add-category input[name="cat_name"] {
    margin:0 5px;
}

.videoUploadComplete {
    display: none;
    margin: 0 0 15px 115px;
    background: #d5edf8;
    color: #205791;
    border: 2px solid #92cae4;
    padding: 10px;
}





/************
MEMBER STYLES
************/

#members-edit form {
    margin-top:15px;
}





/*************
COMMENT STYLES
*************/

#comments .list td {
    width:20%;
}

#comments .list .comments-text {
    width:40%;
}

#comments .list .poster {
    width:150px;
    word-wrap:break-word;
}

#comments-edit form {
    margin-top:15px;
}





/**********
PAGE STYLES
**********/

#page-slug {
    line-height:26px;
}

#page-slug input {
    margin:0 5px;
}

#pages-add #edit-slug,
#pages-add #view-slug {
    display:none;
}

#pages-edit #edit-slug,
#pages-edit #empty-slug {
    display:none;
}

#page-slug a {
    margin-left:10px;
}

#pages-add form,
#pages-edit form {
    margin-top:15px;
}

#pages-edit .preview {
    float:left;
    margin-right:15px;
}





/***********
THEME STYLES
***********/

#themes {
    overflow:hidden;
}

#themes h1 {
    clear:both;
}

.theme {
    float:left;
    min-width:400px;
    width:30%;
    margin-right:25px;
    overflow:hidden;
    margin-bottom:15px;
}

.screenshot {
    float:left;
    margin-right:25px;
}





/************
UPDATE STYLES
************/

#updates-in-progress {
    display:none;
}

#updates-in-progress .working {
    background:url(../images/loading.gif) no-repeat 0 0;
    padding:0 0 0 20px;
    line-height:16px;
    margin:10px 0;
    font-weight:bold;
}

#updates ol {
    list-style:decimal;
    margin:10px 0;
    padding-left:50px;
}

#updates li {
    padding:5px 0;
}

#updates .button {
    margin-right:15px;
}





/************
PLUGIN STYLES
************/

#enable-options {
    line-height:14px;
}





/**************
SETTINGS STYLES
**************/

#settings form { margin-top:15px; }
#settings label { width: 120px; }
#settings .row-shift { margin-left:135px; }

#settings-video form { margin-top: 15px; }
#settings-video label { width: 155px; }
#settings-video .row-shift { margin-left:170px; }

#settings-email label { width: 150px; }
#settings-email .row-shift { margin-left:165px; }





/**********
LOGS STYLES
**********/

#logs pre {
    padding: 10px;
    margin: 10px 0 0 10px;
    font-family: Courier New, Courier New, monospace;
    color: #444;
    background-color: #F5F5F5;
    width: 90%;
    height: 350px;
    overflow: scroll;
    border: 1px solid #DDD;
}





/*****************
FILE UPLOAD STYLES
*****************/

#upload-select-file {
    float: left;
    margin-right: 15px;
    height: auto;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0 10px;
}

#upload-select-file input {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 200px;
    opacity: 0;
}

#upload_status {
    font-family: arial;
    background-color: #F0F0F0;
    border: 3px solid #E1E1E1;
    margin: 10px 0 15px 115px;
    padding: 10px;
    width: 330px;
    display: none;
    font-size: 12px;
}

#upload_status .title {
    margin: 0 0 10px;
}

#upload_status .progress {
    width: 330px;
    overflow: hidden;
}

#upload_status a {
    float: left;
    display: block;
    text-indent: -9999px;
    background: url('../images/cancel.png') no-repeat 0 0;
    height: 16px;
    width: 16px;
}

#upload_status .meter {
    width: 250px;
    height: 10px;
    background-color: #E1E1E1;
    float: left;
    margin: 3px 15px 0 14px;
}

#upload_status .fill {
    background-color: #023e7b;
    width: 0%;
    height: 10px;
}

.ie9 #upload_status {
    width: 285px;
}

.ie9 #upload_status .fill {
    width: 100% !important;
    background-color: #E1E1E1;
}

.ie9 #upload_status .in-progress {
    background: url('../images/animated-overlay.gif');
    opacity: 0.3;
}

#upload_status .percentage {
    width: 35px;
    float: right;
    line-height: 16px;
}