html, body {
    height:100%;
    background-color:#ebebeb;
}

body {
    font-family:arial, helvetica, sans-serif;
    font-size:12px;
    color:#666;
}

#wrapper {
    background-image:url(../images/background.png);
    margin-bottom: -86px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#header {
    background-image:url(../images/header-background.png);
    background-repeat:repeat-x;
    height:71px;
    overflow:hidden;
    margin-bottom:15px;
}

#logo {
    background-image:url(../images/admin-logo.png);
    display:block;
    width:374px;
    height:27px;
    text-indent:-500px;
    float:left;
    margin:15px 20px;
}

#header-menu {
    color:#FFF;
    float:right;
    margin:22px 30px;
}

#sidebar {
    float:left;
    width:200px;
    margin:0 0 0 15px;
}

#container {
    width:100%;
    *width:auto;
}

#main {
    margin-left:270px;
    margin-right:25px;
}

#footer-spacer {
    height:86px;
    clear:both;
}

#footer {
    background-image:url(../images/footer-background.png);
    background-repeat:repeat-x;
    margin-top:25px;
    height:61px;
}

#footer-left {
    background:url(../images/footer-logo.png) no-repeat center center;
    display:block;
    width:79px;
    height:61px;
    text-indent:-500px;
    float:left;
    margin-left:20px;
}

#footer-right {
    float:right;
    color:#FFF;
    line-height:61px;
    margin-right:25px;
}





/*************
SIDEBAR STYLES
*************/

#sidebar h3 {
    background:url(../images/icon-sprite.png) no-repeat 0 0;
    font-size:12px;
    padding-left:30px;
    cursor:pointer;
    height:20px;
    line-height:20px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}

#sidebar .dashboard {
    background-position:0 0;
}
#sidebar .videos {
    background-position:0 -27px;
}
#sidebar .members {
    background-position:0 -55px;
}
#sidebar .comments {
    background-position:0 -85px;
}
#sidebar .flags {
    background-position:0 -117px;
}
#sidebar .pages {
    background-position:0 -147px;
}
#sidebar .appearance {
    background-position:0 -174px;
}
#sidebar .plugins {
    background-position:0 -202px;
}
#sidebar .settings {
    background-position:0 -231px;
}

#sidebar h3 span {
    background:url(../images/icon-sprite.png) no-repeat 125px -259px;
    display:block;
}
#sidebar .down-icon h3 span {
    background-position: 125px -287px;
}

#sidebar .panel {
    margin:15px 0 15px 10px;
}

#sidebar .panel div {
    display:none;
    margin-left:2px;
    line-height:15px;
}
#sidebar .open-panel div {
    display:block;
}





/**********
LINK STYLES
**********/

a, a.big, a.large, a.huge {
    color:#023e7b;
    text-decoration:none;
    font-weight:bold;
}

a:hover {
    text-decoration:underline;
}

#header-menu a {
    color:#FFF;
}

#footer-right a {
    color:#FFF;
}

.record-actions a {
    display:inline-block;
    margin-right:15px;
    font-size:10px;
}

a.button {
    padding:0 10px;
    display:inline-block;
}

.more-info {
    margin-left:5px;
    cursor:pointer;
}





/**********
FONT STYLES
**********/

strong { font-weight:bold; }

p { padding:5px 0; }

h1, h2, h3, .big, .large, .huge {
    font-weight:bold;
    color:#333;
}

h1, h2, h3 { margin-top:15px; }
h1, .huge { font-size:20px; }
h2, .large { font-size:16px; }
h3, .big { font-size:14px; }

.errors, .delete { color:#C00; }

.approve { color:green; }

.pending { color:orange; }

em { font-style: italic; }





/********************
FORM & MESSAGE STYLES
********************/

.row {
    overflow:hidden;
    margin-bottom:15px;
}

.row-shift {
    margin-left:115px;
    margin-bottom:15px;
}

.row > label {
    float:left;
    text-align:right;
    margin-right:15px;
    width:100px;
    font-weight:bold;
}

.text {
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    padding:5px;
    width:300px;
}

textarea.text {
    width:auto;
    height:auto;
}

.dropdown {
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    padding:5px;
}

.button {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background: url("../images/button-background.png") repeat-x right center;
    border:none;
    color: #FFF;
    padding: 0 10px 3px;
    *padding:0;
    height:28px;
    font:bold 14px/28px arial,helvetica,sans-serif;
    cursor:pointer;
}





/**********
MISC STYLES
**********/

.clear { clear:both; }

.block {
    margin-top:15px;
    background-color:#FFF;
    border:3px solid #CCC;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:10px;
}

#pagination {
    margin-top:15px;
    text-align:right;
}

#pagination li {
    display:inline;
    padding-left:10px;
    font-size:14px;
}

.success {
    font-weight:bold;
    padding:15px;
    margin-top:15px;
    border:solid 3px #C6D880;
    background-color: #E6EFC2;
    color: #264409;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.error {
    font-weight:bold;
    padding:15px;
    margin-top:15px;
    border:solid 3px #FBC2C4;
    background-color: #FBE3E4;
    color: #8a1f11;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.notice {
    font-weight:bold;
    padding:15px;
    margin-top:15px;
    background-color: #FFF6BF;
    border:solid 3px #FFD324;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color: #514721;
}

.invisible { visibility:hidden; }

.options { display:inline; }

.hide { display:none; }

.tipsy { font-size: 12px; }





/********************
RECORD LISTING STYLES
********************/

#browse-header {
    margin-top:15px;
    overflow:hidden;
}

#browse-header .search {
    float:right;
}

#browse-header .jump {
    float:left;
}

#browse-header .add {
    float:left;
    margin-left:25px;
}

#browse-header select, #browse-header input[type="text"] {
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    padding:5px;
}
#browse-header select {
    padding-right:10px;
}

.list {
    padding:0;
}

.list table {
    width:100%;
}

.list td {
    padding:20px 10px;
    vertical-align:top;
    width:30%;
}

.list .odd td {
    background-color:#ebebeb;
}

.record-actions {
    margin-top:7px;
}





/***********
VIDEO STYLES
***********/

#videos .list td { width:20%; }

#videos .list .video-title { width:40%; }

#video-edit form { margin-top:15px; }

#upload-box {
    float:left;
    position:relative;
}

#uploadUploader {
    position:relative;
    width:150px;
    height:28px;
}

#browse-button {
    position:absolute;
    top:0;
    left:0;
    width:150px;
}

#upload-button {
    position:absolute;
    top:0;
    left:165px;
}

.move-videos-button, .delete-category-button { display:none; }

#videos-categories .dropdown { margin:0 5px; }

#add-category input[name="cat_name"] { margin:0 5px; }





/************
MEMBER STYLES
************/

#member-edit form { margin-top:15px; }





/*************
COMMENT STYLES
*************/

#comments .list td { width:20%; }

#comments .list .comments-text { width:40%; }

#comments .list .poster {
    width:150px;
    word-wrap:break-word;
}

#comment-edit form { margin-top:15px; }





/**********
PAGE STYLES
**********/

#page-slug { line-height:26px; }

#page-slug input { margin:0 5px; }

#pages-add #edit-slug, #pages-add #view-slug { display:none; }

#pages-edit #edit-slug, #pages-edit #empty-slug { display:none; }

#page-slug a { margin-left:10px; }

#pages-add form, #pages-edit form { margin-top:15px; }

#pages-edit .preview {
    float:left;
    margin-right:15px;
}





/***********
THEME STYLES
***********/

#themes { overflow:hidden; }

#themes h1 { clear:both; }

.theme {
    float:left;
    min-width:400px;
    width:30%;
    margin-right:25px;
    overflow:hidden;
    margin-bottom:15px;
}

.screenshot {
    float:left;
    margin-right:25px;
}





/************
UPDATE STYLES
************/

#updates-in-progress {
    display:none;
}

#updates-in-progress .working {
    background:url(../images/loading.gif) no-repeat 0 0;
    padding:0 0 0 20px;
    line-height:16px;
    margin:10px 0;
    font-weight:bold;
}

#updates ol {
    list-style:decimal;
    margin:10px 0;
    padding-left:50px;
}

#updates li { padding:5px 0; }

#updates .button { margin-right:15px; }





/************
PLUGIN STYLES
************/

#upload-row { position:relative; }

#upload {
    position:absolute;
    text-align:right;
    left:115px;
    filter:alpha(opacity:0);
    opacity: 0;
    z-index:2;
    height:30px;
    width:392px;
}

#enable-options { line-height:14px; }





/**************
SETTINGS STYLES
**************/

#settings-video label { width: 155px; }

#settings-video .row-shift { margin-left:170px; }

#settings-email label { width: 150px; }

#settings-email .row-shift { margin-left:165px; }








