
/******************
BROWSE USERS STYLES
******************/

#browse-users-header {
    background-image:url('/images/headers/admin-browse-users-header.gif');
}

.block-list {
    width:648px;
    border-collapse:collapse;
    background-color:#FFF;
    border:1px solid #CCC;
    margin-top:15px;
}

.block-list tr {
    border-bottom:1px solid #CCC;
}
.block-list tr:last-child {
    border:none;
}

.block-list td,.block-list th {
    text-align:center;
    padding:3px;
}

.block-list .align-left {
    text-align:left;
}

.block-list .odd {
    background-color:#EDF3FE;
}





/********************
START ENCODING STYLES
********************/

#start-encoding-header{
    background-image:url('/images/headers/admin-start-encoding-header.gif');
}