html, body {
    height:100%;
    background-color:#ebebeb;
}

body {
    font-size:12px;
    font-family:arial,helvetica,sans-serif;
    color:#666;
}





/***************
MAIN BODY STYLES
***************/

#wrapper {
    background-image:url(../images/background.png);
    margin-bottom: -218px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#header-sub, #main, #footer-sub {
    margin:0 auto;
    width:960px;
}

#content, #sidebar {
    float:left;
}

#content {
    width:580px;
    margin-right:40px;
}

#sidebar {
    width:340px;
}





/************
HEADER STYLES
************/

#header {
    background-image:url(../images/header-background.png);
    background-repeat:repeat-x;
    height:203px;
}

#header-sub {
    background-image:url(../images/header-sub-background.png);
    height:100%;
    text-align:right;
}

#logo {
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    display:block;
    width:298px;
    height:121px;
    float:left;
    margin:25px 0 0 10px;
}
#logo span {
    display:none;
}

#header-sub input {
    margin:20px 0 10px 0;
    padding:0 5px 0 7px;
    border:none;
    border-radius:5px;
    width:245px;
    height:30px;
    line-height:30px;
    font-size:15px;
}

#nav {
    margin-top:40px;
    *margin-top:35px;
}

#welcome {
    position:relative;
}

.active-language {
    border-radius:5px;
    padding:5px;
    background-color:#023e7b;
    padding:5px 15px 5px 5px;
}

.languages ul {
    position:absolute;
    right:0;
    top:16px;
    *top:23px;
    border:2px solid #023e7b;
    background-color:#FFF;
    display:none;
    border-radius:5px;
    padding:5px;
}

.languages:hover ul {
    display:block;
}

.arrow {
    width:7px;
    height:4px;
    position:absolute;
    right:4px;
    top:5px;
    *top:10px;
    background:url('../images/arrow.png') no-repeat 0 0;
}







/***********
FOOTER STYLES
************/

.clear {
    clear:both;
}

#footer-spacer {
    height:218px;
}

#footer {
    background-image:url(../images/footer-background.png);
    background-repeat:repeat-x;
    height:203px;
    margin-top:15px;
}

#footer-sub {
    background-image:url(../images/footer-sub-background.png);
    height:100%;
}

#footer-sub input {
    border-radius:5px;
    padding-left:10px;
    background-color:#555;;
    width:267px;
    height:43px;
    line-height:43px;
    border:none;
    color:#FFF;
    font-size:15px;
}

#footer-sub li {
    list-style:none;
}

#footer-sub .wider {
    width:170px;
}

#footer-left {
    float:left;
    width:300px;
    margin-left:460px;
    margin-top:25px;
}

#footer-right {
    margin-top:25px;
    float:right;
    width:175px;
    background-image:url(../images/footer-divider.gif);
    background-repeat:no-repeat;
    padding-left:25px;
}

#quick-links {
    background-image:url(../images/footer-quicklinks-header.gif);
    width:93px;
    height:17px;
}
#quick-links span {
    display:none;
}

.link-col {
    margin-top:10px;
    float:left;
    width:75px;
    line-height:24px;
}





/********************
BODY STRUCTURE STYLES
********************/

.block, #pagination {
    border-radius:10px;
    margin-top:15px;
    border:3px solid #CCC;
    padding:15px;
    background-color:#FFF;
}

.ad300 {
    margin-top:2px;
}

.success {
    font-weight:bold;
    padding:10px 15px;
    margin-top:15px;
    border:solid 3px #C6D880;
    background-color: #E6EFC2;
    color: #264409;
    border-radius:10px;
    line-height:1.25;
}

.error {
    font-weight:bold;
    padding:10px 15px;
    margin-top:15px;
    border:solid 3px #FBC2C4;
    background-color: #FBE3E4;
    color: #8a1f11;
    border-radius:10px;
    line-height:1.25;
}

.errors { color:#C00; }
.ok { color:#060; }

.loading {
    background:url(../images/loading.gif) no-repeat 0 0;
    padding-left:20px;
    display:inline-block;
    line-height:16px;
}





/*****************
LINKS & NAVIGATION
*****************/

a {
    color:#023e7b;
    font-weight:bold;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

#header-sub a, #footer-sub a {
    color:#FFF;
}

#welcome a {
    margin-left:15px;
}

#nav a {
    background-color:#023e7b;
    border-radius:5px;
    padding:5px;
    margin-left:30px;
    color:#FFF;
    font-size:24px;
}
#nav a:hover {
    color:#023e7b;
    background-color:#FFF;;
    text-decoration:none;
}

#pagination li {
    font-size:14px;
    display:inline;
    list-style:none;
    margin-right:8px;
}

#pagination a { padding:2px; }

a.button {
    display:inline-block;
    padding:0 10px;
    line-height:42px;
}

a.button-small {
    display:inline-block;
    padding:0 10px;
    line-height:28px;
}

a.large { color:#023e7b; }

#header-sub ul a {
    color:#023e7b;
    margin-left:0;
    line-height:18px;
}



/**********
TEXT STYLES
**********/

h1,h2,h3,strong,.big,.large,.huge {
    color:#333;
    font-weight:bold;
    line-height:1;
}

h1, .huge { font-size:24px; }
h2, .large { font-size:18px; }
h3, .big { font-size:14px; }

p {
    margin:5px 0;
    line-height:1.25
}





/********************
FORM & MESSAGE STYLES
********************/

.row {
    clear:both;
    margin-bottom:15px;
}

.row-shift {
    margin-left:115px;
    margin-bottom:15px;
}

.row label {
    float:left;
    text-align:right;
    margin-right:15px;
    width:100px;
    font-weight:bold;
}

.text { 
    border:1px solid #CCC;
    font-size:15px;
}

input[type="text"].text, input[type="password"].text {
    width:300px;
    height:22px;
    padding:7px 10px;

}

textarea.text { padding:10px; }

.dropdown {
    border:1px solid #CCC;
    min-width:5em;
    padding:3px;
    font-size:18px;
}


.defaultText {
    font-family:verdana,arial,helvetica,sans-serif;
    font-style:italic;
    color:#666;
}

.customText {
    font-family:arial,helvetica,sans-serif;
    font-style:normal;
    color:#333;
}

.button, .button-small {
  border-radius:5px;
  border:none;
  color: #FFF;
  padding:0 10px 4px;
  font-weight: bold;
}

.button {
  background:url("../images/button-sprite.png") repeat-x 0 0;
  font-size: 20px;
  height:42px;
}

.button-small {
  background:url("../images/button-small-sprite.png") repeat-x 0 0;
  font-size: 14px;
  height:28px;
}

#status-form {
    display:block;
    margin-bottom:10px;
}

#status-form .text {
    border-radius:4px;
    width:280px;
    height:20px;
    padding:8px;
    overflow-x:hidden;
    overflow-y:auto;
    margin:10px 0px;
    /*white-space:pre-wrap;
    word-wrap:break-word;*/
}





/*******************
MISCELLANEOUS STYLES
*******************/

.thumb {
    position:relative;
    float:left;
    margin-right:15px;
}
.thumb:hover { text-decoration:none; }
.thumb img {
    width:120px;
    height:90px;
    border:none;
}

.duration {
    background-image:url(../images/duration-background.png);
    position:absolute;
    top:0px;
    right:0px;
    width:50px;
    height:25px;
    line-height:25px;
    text-align:center;
    color:#FFF;
}

.play-icon {
    background-image:url(../images/play-icon-sprite.png);
    background-position:0px -32px;
    position:absolute;
    bottom:5px;
    left:5px;
    width:32px;
    height:32px;
}

.thumb:hover .play-icon {
    background-position:0px 0px;
}

.like, .dislike {
    line-height:18px;
    padding-right:19px;
    display:inline-block;
    font-weight:bold;
}
.like {
    background:url(../images/icon-like.png) no-repeat right center;
    margin-right:10px;
    color:#060;
}
.dislike {
    background:url(../images/icon-dislike.png) no-repeat right 3px;
    color:#900;
}

.member {
    position:relative;
    margin:25px 25px 0px 0px;
    padding:10px;
    width:160px;
    display:inline-block;
    vertical-align:top;
    text-align:center;
}
.member .large { word-wrap:break-word; }

.avatar {
    border:1px solid #CCC;
    width:100px;
    height:100px;
    margin:0 auto;
}
.avatar img { border:none; }

.avatar-small img {
    width:64px;
    height:64px;
    float:left;
    margin:0 15px 10px 0;
}

.comment-text {
    border-top:1px solid #CCC;
    padding-top:5px;
}

.space { margin-top:15px; }







