/**************
Homepage Styles
**************/

#home-login-block .tab {
    position:absolute;
    top:-43px;
    left:-3px;
    background:url(/themes/images/rounded-tab-blue.gif) no-repeat;
    width:203px;
    height:56px;
    z-index:1;
    color:#FFF;
    font-size:20px;
    text-align:center;
    line-height:43px;
}

#home-login-block {
    margin-top:58px;
    border-color:#023e7b;
}

#home-login-block > span {
    background-image:url(/themes/images/rounded-corners-sprite-blue.gif) ;
}





#code-404-header {
    background-image:url(/images/headers/404-header.gif);
}

#slideshow {
    background-color:#000;
    width:585px;
    height:291px;
    color:#FFF;
    margin-bottom:15px;
}

/*#slideshow {
    position:relative;
    float:left;
    width:455px;
    margin-right:20px;
}

.slide {
    position:absolute;
    left:0px;
    top:0px;
    height:291px;
    z-index:98;
}

#slideshow .active {
    z-index:100;
}

#slideshow .last-active {
    z-index:99;
}

.slide-text {
    display:none;
    background-image:url(/images/showcase-hover-background.png);
    background-repeat:no-repeat;
    left:0px;
    bottom:0px;
    position:absolute;
    width:435px;
    height:93px;
    padding:10px;
    font-size:13px;
    font-weight:bold;
}

#featured-slide h2 {
    float:left;
    color:#FFF;
    text-decoration:underline;
}
#featured-slide .slide-text img {
    float:right;
    margin-bottom:10px;
    border:none;
}*/





#slide-count {
    margin-top:4px;
    padding:0px;
    float:left;
    list-style:none;
    font-size:12px;
}

#slide-count li {
    display:inline;
    margin-right:5px;
}

#slide-count a {
    color:#333;
    padding:2px 6px;
    border:2px solid #333;
    text-decoration:none;
    line-height:23px;
}
#slide-count .active a {
    color:#FFF;
    background-color:#333;
}





/*****************
Videos Page Styles
*****************/

#video-categories-header {
    background-image:url(/images/headers/video-categories-header.gif);
}

#cat-list {
    list-style:none;
    line-height:19px;
}

#browse-videos-header {
    background-image:url(/images/headers/browse-videos-header.gif);
}
#browse-videos-header h2 {
    width:640px;
    padding-right:10px;
    text-align:right;
    color:#FFFFFF;
    line-height:31px;
}





/**************************
Browse Channels Page Styles
**************************/

#about-channels-header {
    background-image:url(/images/headers/about-channels-header.gif);
}

#channels-header {
    background-image:url(/images/headers/channels-header.gif);
}





/*******************
About Us Page Styles
*******************/

#about-header {
	background-image:url(/images/headers/about-header.gif);
}

#quick-stats-header {
	background-image:url(/images/headers/quick-stats-header.gif);
}

#site-stats {
	list-style:none;
	margin-bottom:-10px;
}
#site-stats li {
	margin-bottom:10px;
}





/*********************
Contact Us Page Styles
*********************/

#contact-header {
    background-image:url(/images/headers/contact-header.gif);
}

#contact-list {
    margin-left:20px;
}
#contact-list li {
    margin-bottom:5px;
}

#feedback {
    margin-top:15px;
}
#feedback label {
    width:100px;
}
#feedback .row_btn {
    margin-top:20px;
    margin-left:115px;
    clear:both;
    text-align:left;
}
#feedback #new-image {
    margin-left:115px;
}

#feedback #recaptcha {
    margin-left:115px;
}





/***********************************************
Terms, Privacy, Copyright, Advertise Page Styles
***********************************************/

#terms-header {
	background-image:url(/images/headers/terms-header.gif);
}

.list-push, .mid-level {
	margin-left:30px;
}
.list-push h2 {
	margin-bottom:15px;
}

.terms-item {
	margin-top:15px;
	list-style:decimal;
}

.mid-level {
	list-style:upper-alpha;
}

.lower-level {
	margin:15px 0px 15px 30px;
}

#privacy-header {
	background-image:url(/images/headers/privacy-header.gif);
}

h2.privacy {
	margin:15px 0px 15px 0px;
}

#copyright-header {
	background-image:url(/images/headers/copyright-header.gif);
}

.copyright-item {
	margin-top:15px;
	list-style:upper-alpha;
}

#advertise-header {
	background-image:url(/images/headers/advert-header.gif);
}

#advertise-with-us {
	float:right;
	margin-left:30px;
}

#credits-header {
	background-image:url(/images/headers/credits-header.gif);
}

#credits {
	margin-left:15px;
	margin-top:15px;
}
#credits li {
	margin-bottom:5px;
	margin-top:5px;
}





/***************************
Login & Register Page Styles
***************************/

#login-header {
	background-image:url(/images/headers/login-header.gif);
}

#right-flip #ad-title {
	/*margin-top:0px;*/
}

#login {
	width:295px;
	margin-left:auto;
	margin-right:auto;
}
#login .row {
	margin-left:auto;
	margin-right:auto;
}
#login .row_box {
	margin-top:10px;
	margin-left:75px;
	vertical-align:middle;
	font-weight:bold;
	color:#333;
}
#login .row_btn {
	margin-bottom:10px;
}
#login p {
	line-height:15px;
	text-align:center;
}

#forgot-block {
	display:none;
}
#forgot-block h2, #forgot-block p {
	margin-bottom:15px;
}
#forgot-block strong, #forgot-block input {
	vertical-align:middle;
}
#forgot-block .text {
	border:solid 1px #000;
}

#register-header {
	background-image:url(/images/headers/register-header.gif);
}

#register label {
	width:120px;
}

#username-desc, #register .terms {
	margin-bottom:10px;
	padding-left:135px;
}

#register #recaptcha {
    margin-left:135px;
}

#register .terms {
	font-weight:bold;
	color:#333333;
}

#activate-header {
	background-image:url(/images/headers/activate-header.gif);
}





/*******************
Channels Page Styles
*******************/

#channel-thumb {
    float:left;
    margin-right:15px;
    margin-bottom:15px;
    height:100px;
    width:100px;
}

#channel-subscribe {
    margin-bottom:5px;
}

#channel-video {
    background-image:url(/images/channel-background.gif);
    width:580px;
    height:365px;
    padding:25px 35px 25px 35px;
    margin-top:15px;
    text-align:center;
}

.channel-stat {
    width:50%;
    float:left;
    font-size:20px;
    margin-top:5px;
}

.channel-stat img {
    vertical-align:text-bottom;
}

#channel-videos-header {
    margin-top:15px;
    background-image:url(/images/headers/channel-videos-header.gif);
}

#channel-favorites-header {
    margin-top:15px;
    background-image:url(/images/headers/channel-favorites-header.gif);
}

#all-channel-videos-header {
    background-image:url(/images/headers/all-channel-videos-header.gif);
}

#all-channel-favorites-header {
    background-image:url(/images/headers/all-channel-favorites-header.gif);
}

#channel-name {
    margin-top:10px;
    margin-bottom:5px;
}





/*********************
Play Video Page Styles
*********************/

#play-right #connect-with-us-header {
    width:320px;
    background-image:url(/images/headers/connect-with-us-play-header.gif);
}

#play-right #connect-with-us {
    width:288px;
}

#play-left {
    float:left;
    width:600px;
    margin-right:40px;
}

#play-right {
    float:left;
    width:320px;
}

#now-playing-header {
    width:590px;
    background-image:url(/images/now-playing.gif);
    padding-left:10px;
}

#now-playing-header h1 {
    font-size:16px;
    display:block;
    color:#FFFFFF;
    line-height:31px;
}

#now-playing-block {
    width:600px;
    height:400px;
    margin-top:15px;
}

.play-block {
    width:568px;
}

.play-short {
    width:288px;
}

#views {
    float:left;
    width:190px;
    margin-right:10px;
    margin-bottom:20px;
}

#ratings {
    padding-top:6px;
}

#ratings p {
    float:left;
    margin-right:10px;
    padding-bottom:2px;
    padding-top:2px;
}

#rating-text {
    margin-left:10px;
    line-height:18px;
}

.thumbs-up {
    background:url(/images/icon-thumbs-up.png) no-repeat 0 0px;
    padding-left:20px;
    line-height:18px;
    padding-bottom:1px;
    padding-top:3px;
}

.thumbs-down {
    background:url(/images/icon-thumbs-down.png) no-repeat 0 1px;
    padding-left:20px;
    line-height:18px;
    padding-bottom:6px;
}

.action {
    float:left;
    width:149px;
    margin-left:100px;
}

#add-favorites {
    background:url(/images/silk_heart_add.png) no-repeat;
    padding-left:20px;
    padding-top:3px;
    line-height:18px;
}

#report-abuse {
    background:url(/images/silk_flag_red.png) no-repeat;
    padding-left:20px;
    padding-top:3px;
    line-height:18px;
}

#video-comments-header {
    background-image:url(/images/headers/video-comments-header.gif);
    width:600px;
    margin-top:15px;
}

#view-comments {
    background:url(/images/silk_comments.png) no-repeat;
    padding-left:20px;
    padding-top:3px;
}

#video-comments-form {
    text-align:center;
}
#video-comments-form h2 {
    margin-bottom:10px;
}

#video-info-header {
    width:320px;
    background-image:url(/images/headers/video-info-header.gif);
}

#video-info-left {
    float:left;
    width:70px;
    margin-right:15px;
    margin-bottom:15px;
}

#subscribe, #unsubscribe {
    display:block;
    width:69px;
    height:22px;
    background:url(/images/subscribe-button.gif) no-repeat;
}
#unsubscribe {
    background:url(/images/unsubscribe-button.gif) no-repeat;
}

#play-user-thumb {
    height:70px;
    width:70px;
    margin-top:10px;
}

#video-info-right {
    width:203px;
    float:left;
    margin-bottom:15px;
}
#video-info-right h3 {
    margin-bottom:5px;
}
#video-info-right p {
    line-height:16px;
}

#embed {
    clear:both;
    margin-bottom:3px;
}

#embed-field input {
    border:solid 1px #000;
}

#related-videos-header {
    background-image:url(/images/headers/related-videos-header.gif);
    width:310px;
    margin-top:15px;
    padding-right:10px;
    text-align:right;
}

.collapse {
    color:#FFFFFF;
    line-height:31px;
}

.other-videos-box {
    width:288px;
    max-height:250px;
    overflow:auto;
    position:relative;
}

.other-video {
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:dotted 1px #CCCCCC;
}

.comment {
    background:url(/images/comment-back.gif) no-repeat top left #FFFFFF;
}

.video-comment {
    width:85%;
    padding-bottom:10px;
    border-bottom:solid 1px #CCCCCC;
    margin-bottom:5px;
}
.video-comment .thumb {
    margin-right:10px;
}





/*****************
Search Page Styles
*****************/

#search-header {
    background-image:url(/images/headers/search-header.gif);
}

.search-video-stats {
    margin-top:3px;
}

.search-video-stats span, .video-ratings span {
    margin-right:15px;
}

.video-ratings {
    margin-top:5px;
}

.green-text {
    color:#090;
    font-weight:bold;
}

.red-text {
    color:#900;
    font-weight:bold;
}





/************************
Miscellaneous Page Styles
************************/

#all-comments-header {
     background-image:url(/images/headers/all-comments-header.gif);
}

#opt-out-header {
    background-image:url(/images/headers/opt-out-header.gif);
}