#myaccount-header {
    width:770px;
    background-image:url(/images/headers/my-account-header.gif);
    padding-left:190px;
}
#myaccount-header h2 {
    color:#FFFFFF;
    font-size:20px;
    line-height:31px;
}

.account-list {
    float:left;
    width:190px;
    margin-right:40px;
}
.account-list h2 {
    margin-bottom:10px;
}
.account-list a {
    line-height:20px;
}

#account-menu-header {
    background-image:url(/images/headers/account-menu-header.gif);
}

.short-block ul {
    list-style:none;
    margin-top:5px;
    margin-bottom:10px;
    line-height:15px;
}

#update-profile-header {
    background-image:url(/images/headers/update-profile-header.gif);
}

#update-profile-form label {
    width:90px;
}

#privacy-header {
    background-image:url(/images/headers/privacy-settings-header.gif);
}

#change-password-header {
    background-image:url(/images/headers/change-password-header.gif);
}

#form-center {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}
#form-center label {
    width:140px;
}

#subscriptions-header {
    background-image:url(/images/headers/my-subscriptions-header.gif);
}

#subscriptions .channel {
    height:170px;
}

#subscribers-header {
    background-image:url(/images/headers/my-subscribers-header.gif);
}

#invite-join-header {
    background-image:url(/images/headers/invite-friend-header.gif);
}

#inbox-header {
    background-image:url(/images/headers/message-inbox-header.gif);
}

#inbox-messages {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

#read-message-header{
    background-image:url(/images/headers/message-read-header.gif);
}

#message-body {
    margin:15px 0px 15px 0px;
    padding:5px 0px 5px 0px;
    border-top:dashed 1px #CCCCCC;
    border-bottom:dashed 1px #CCCCCC;
}

#compose-header {
    background-image:url(/images/headers/message-compose-header.gif);
}

#my-videos-header {
    background-image:url(/images/headers/my-videos-header.gif);
}

#edit-video-header {
    background-image:url(/images/headers/edit-video-header.gif);
}

#my-favorites-header {
    background-image:url(/images/headers/my-favorites-header.gif);
}
#upload-video-header {
    background-image:url(/images/headers/upload-video-header.gif);
}

form#upload-data label {
    width:80px;
}

#upload-video, #grab-video {
    display:none;
}

#choices {
    margin-top:30px;
}
#choices img {
    margin-top:15px;
}

#upload-choice, #grab-choice {
    width:250px;
    float:left;
    text-align:center;
    cursor:pointer;
}
#upload-choice {
    width:300px;
    margin-right:25px;
}

.grabInput {
    float:left;
    margin-right:5px;
}

#grabLoading {
    display:none;
    float:left;
}

#upload-phase {
    text-align:center;
    margin-bottom:25px;
}

#upload-processing {
    display:none;
}