
/********************
GENERAL PORTAL STYLES
********************/

#portal-content, #portal-sidebar {
    float:left;
}

#portal-content {
    width:670px;
}

#portal-sidebar {
    width:250px;
    margin-right:40px;
}

#menu { padding:0 15px 10px; }

#menu p {
    margin-top:15px;
    padding:0;
}

#menu ul {
    list-style:none;
    padding-bottom:5px;
}

#menu li { margin-top:10px; }

.member .delete {
    z-index:99;
    position:absolute;
    top:10px;
    left:10px;
    width:16px;
    height:16px;
    background:url(../images/cancel.png) no-repeat;
}

.member .delete span {
    display:none;
}

.video .actions {
    margin-top:15px;
    padding-top:10px;
    border-top:2px solid #CCC;
}

.video .actions a {
    margin-right:15px;
}





/******************
PRIVACY PAGE STYLES
******************/

#privacy-form p:first-child {
    margin-top:-5px;
}

#privacy-form p {
    padding:5px;
}





/****************
INBOX PAGE STYLES
****************/

#inbox {
    border-collapse:collapse;
    margin-bottom:20px;
}

#inbox tr:first-child td {
    padding-bottom:10px;
}

#inbox td {
    padding:3px 0;
    width:70px;
    border-bottom:1px solid #CCC;
}

#inbox .subject {
    width:350px;
}





/***********************
READ MESSAGE PAGE STYLES
***********************/

#message-body {
    background-color:#f0f0f0;
    padding:15px;
    margin:20px 0;
}

#message-display p {
    padding:3px 0;
}





/***********************
UPLOAD VIDEO PAGE STYLES
***********************/

#private-url a { margin-left:15px; }

#upload-video .big { padding-top:7px; }

#upload-video .upload-box {
    float:none;
    margin-top:15px;
}





/****************
MY ACCOUNT STYLES
****************/

#myaccount-left {
    float:left;
    margin-right:40px;
}

#myaccount-left .avatar {
    margin:0 0 5px 0;
}





/********************
UPDATE PROFILE STYLES
********************/

#update-avatar { margin-top:15px; }

#avatar-left {
    float:left;
    margin-right:30px;
    font-weight:bold;
    text-align:center;
    line-height:18px;
}

#avatar-left .avatar {
    margin:0 auto;
    margin-bottom:5px;
}

#avatar-right {
    float:left;
    width:500px;
}

#avatar-right p {
    margin-bottom:15px;
}

.upload-box {
    float:left;
    position:relative;
}

#uploadUploader {
    position:relative;
    width:150px;
    height:42px;
}

#browse-button {
    position:absolute;
    top:0;
    left:0;
    width:150px;
}

#upload-button {
    position:absolute;
    top:0;
    left:165px;
}





