
RewriteEngine on


### Add trailing slash

RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /admin/$1/ [R=301,L]


### Main Pages

RewriteRule ^users/$ users.php [NC]
RewriteRule ^start-encoding/$ start_encoding.php [NC]
