html, body {
    height:100%;
}

body {
    background-color:#ebebeb;
    background-image:url(../images/background.png);
    font-family:arial, helvetica, sans-serif;
    font-size:12px;
    color:#666;
}

#wrapper {
    margin-bottom: -86px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#header {
    background-image:url(../images/header-background.png);
    background-repeat:repeat-x;
    height:71px;
    overflow:hidden;
    margin-bottom:15px;
}

#logo {
    background-image:url(../images/admin-logo.png);
    display:block;
    width:374px;
    height:27px;
    text-indent:-500px;
    float:left;
    margin:15px 20px;
}

#header-menu {
    color:#FFF;
    float:right;
    margin:22px 30px;
}

#sidebar {
    float:left;
    width:200px;
    margin-left:15px;
    padding:10px;
    background-color:#FFF;
    border:3px solid #CCC;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#sidebar h3 {
    cursor:pointer;
}

#sidebar .panel {
    margin:15px;
}

#sidebar .panel div {
    display:none;
}

#container {
    width:100%;
}

#main {
    margin-left:270px;
    margin-right:25px;
    background-color:#FFF;
    border:3px solid #CCC;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:10px;
}

#footer-spacer {
    height:86px;
    clear:both;
}

#footer {
    background-image:url(../images/footer-background.png);
    background-repeat:repeat-x;
    margin-top:25px;
    height:61px;
}

#footer-left {
    background:url(../images/footer-logo.png) no-repeat center center;
    display:block;
    width:79px;
    height:61px;
    text-indent:-500px;
    float:left;
    margin-left:20px;
}

#footer-right {
    float:right;
    color:#FFF;
    line-height:61px;
    margin-right:25px;
}


a {
    color:#023e7b;
    text-decoration:none;
    font-weight:bold;
}

a:hover {
    text-decoration:underline;
}

#header-menu a {
    color:#FFF;
}

#footer-right a {
    color:#FFF;
}

p {
    padding:5px 0;
}